[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[VARIABLES]

# Maximum number of lines in a module.
max-module-lines=2000

# Argument names that match this expression will be ignored. Default to name
# with leading underscore.
ignored-argument-names=_.*|^ignored_|^unused_|rule_args|callback|rei
