name: Run integration tests against iRODS

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    if: |
      ${{ ! contains(github.event.head_commit.message, '#nointegrationtests') &&
            ( github.event_name == 'push' ||
              github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
            )
       }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt install -y docker-compose
      - name: Build utilizing cache
        uses: docker/bake-action@v4
        with:
          load: true
          push: false
          set: |
            irods-catalog.cache-from=type=gha
            irods-catalog.cache-to=type=gha
            irods-catalog.tags=irods-catalog
            irods-catalog-provider.tags=irods-catalog-provider
            irods-client.cache-from=type=gha
            irods-client.cache-to=type=gha
            irods-client.tags=irods-client
      - name: Run tests using docker-compose
        run: docker-compose up --no-build --exit-code-from irods-client
